:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:rgb(173, 173, 173);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 1em;

  #plus {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
  }

  #AC {
    background-color: red;
    grid-column: 1 / 4;
  }

  #equal {
    background-color: #646cff;
    color: white;
  }
}

.display-container {
  background-color: #212121;
  border-radius: 8px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.calculator {
  border: 1px solid #3a3a3a;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #5b5b5b;
}

#root {
  width: 400px;
  margin: 0 auto;
}
